{% extends'base_user.html' %}

{% block title %} Dashboard {% endblock %}

{% block main %}


<div class="container">

    <!--This loops through the flash message -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}



    <h1>Dashboard</h1>
    </br></br>
    <p>You are logged in!</p>
    <strong>Name: </strong>{{current_user.name}}</br>
    <strong>User ID: </strong>{{current_user.id}}</br>
    <strong>Email: </strong>{{current_user.email}}</br>
    <strong>Date Joined: </strong>{{formatted_time}}</br></br>

    <a class="btn btn-outline-secondary" href="{{url_for('main.update',id =current_user.id)}}">Edit Profile</a>
   
    













</div>






{% endblock %}
