{% extends 'base_user.html' %}

{% block title %} Edit Post {% endblock %}


{% block main %}
<div class="container">

    <!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="post">
            {{form.hidden_tag()}} <!--This creates our csrf token -->
            {{form.title.label(class="form-label")}}
            {{form.title(class="form-control")}}
            {{form.slug.label(class="form-label")}}
            {{form.slug(class="form-control")}}
            {{form.content.label(class="form-label")}}
            {{form.content(class="form-control", rows = "10")}}
            <br/>
            {{form.submit(class="btn btn-primary")}} 
        </form>
    </div>


{% endblock %}