{% extends 'base_index.html' %}

{% block title %} Hello {% endblock %}


{% block main %}
<div class="container">
<!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if name %}
        <h1>Hello {{name}} </h1> 

    {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <br/>
            <form method="post">
                {{form.hidden_tag()}} <!--This creates our csrf token -->
                {{form.name.label(class="form-label")}}
                {{form.name(class="form-control")}}
                <br/>
                {{form.submit(class="btn btn-primary")}} 
            </form>
        </div>


{% endif %}
</div>
{% endblock %}

    
