{% extends 'base_user.html' %}

{% block title %} Update User {% endblock %}


{% block main %}


{% if user.id == current_user.id %}
<div class="container">

<!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


        <h1>User Update </h1> 
       
        <br/>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method="post">
                {{form.hidden_tag()}} <!--This creates our csrf token -->
                {{form.name.label(class="form-label")}}
                {{form.name(class="form-control")}}
                {{form.email.label(class="form-label")}}
                {{form.email(class="form-control")}}
                {{form.password_hash.label(class="form-label")}}
                {{form.password_hash(class="form-control")}}
                {{form.password_hash_v.label(class="form-label")}}
                {{form.password_hash_v(class="form-control")}}
                <br/>
                {{form.submit(class="btn btn-primary")}} 
            </form>
        </div>
    </div>


        
        

</div>

{% else %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Unauthorized Access
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endif %}

{% endblock %}